{% extends "base.html" %}

{% block title %}Livros{% endblock %}

{% block content %}
  {% if livros %}
  <div class="panel panel-default">

    <div class="table-reponsive">
      <table class="table table-striped table-hover">
          <thead>
            <tr>
              <th>TÍTULO</th>
              <th>AUTOR</th>
              <th>EDITORA</th>
              <th>EDIÇÃO</th>
              <th>DATA DE EDIÇÃO</th>
              <th>STATUS</th>
            </tr>
          </thead>
          <tbody>
            {% for livro in livros %}
              <tr>
                <td>{{ livro.titulo }}</td>
                <td>{{ livro.autor }}</td>
                <td>{{ livro.editora }}</td>
                <td>{{ livro.local_edicao }}</td>
                <td>{{ livro.data_edicao }}</td>
                <td>{{ livro.status }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    {% else %}
      <h3> Não existem livros cadastrados no sistema. </h3>
    {% endif %}

{% endblock %}
